---
export const prerender = false;

import Layout from "../../layouts/Layout.astro";
import AdminSidebar from "../../components/react/AdminSidebar";
import AdminEmailTemplates from "../../components/react/AdminEmailTemplates";
import { getSessionFromRequest, hasRole } from "../../utils/auth";

const session = getSessionFromRequest(Astro.request);
if (!hasRole(session, 'admin', 'editor')) {
  return Astro.redirect("/admin/login");
}
---

<Layout title="Email Templates | TMS List Admin" noindex={true}>
  <div class="flex min-h-screen bg-gray-50">
    <AdminSidebar client:load currentPage="email-templates" userEmail={session!.email} />
    <main class="flex-1 lg:ml-64 py-8">
      <div class="container mx-auto px-4 max-w-5xl">
        <AdminEmailTemplates client:idle />
      </div>
    </main>
  </div>
</Layout>